name: sample-dev

on:
  workflow_dispatch:

  
jobs:
#==========================================================================
# JOB: Validate Databricks asset bundle
#==========================================================================  
  validate: 
    name: Validate databricks asset bundle 
    runs-on: ubuntu-latest 
    env:
      DATABRICKS_HOST: https://adb-7405616596195493.13.azuredatabricks.net/
      DATABRICKS_TOKEN: dapi7627cb3513b08dea539b6347b38531f5
      REPO_PATH: /Users/vegash.p@diggibyte.com/.bundle/

    continue-on-error: false 
    steps:
 
    
      - name: Checkout code 
        uses: actions/checkout@v4
 
      
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main
        
      - name: Ensure .py files are Databricks notebooks (ubantu-latest)
        run: |
          Get-ChildItem -Path "${{ github.workspace }}" -Filter "*.py" -Recurse | ForEach-Object {
            ("# Databricks notebook source`n" + (Get-Content $_.FullName -Raw)) | Set-Content $_.FullName
          }
        shell: pwsh


      - name: Validate bundle
        run: databricks bundle validate
        env:
          DATABRICKS_HOST: https://adb-7405616596195493.13.azuredatabricks.net/
          DATABRICKS_TOKEN: dapi7627cb3513b08dea539b6347b38531f5
          REPO_PATH: /Users/vegash.p@diggibyte.com/.bundle/          
          


#==========================================================================  
# JOB: Deploy Databricks asset bundle
#==========================================================================  
  deploy: 
    name: Deploy databricks asset bundle 
    if: ${{ needs.validate.result == 'success' }}
    needs: validate 
    runs-on: ubuntu-latest 
    continue-on-error: false 
    steps:
 
      
      - name: Checkout code 
        uses: actions/checkout@v4
 
      
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main
        
      - name: Ensure .py files are Databricks notebooks (ubantu-latest)
        run: |
          Get-ChildItem -Path "${{ github.workspace }}" -Filter "*.py" -Recurse | ForEach-Object {
            ("# Databricks notebook source`n" + (Get-Content $_.FullName -Raw)) | Set-Content $_.FullName
          }
        shell: pwsh
       
      - name: Deploy bundle
        run: databricks bundle deploy
        env:
          DATABRICKS_HOST: https://adb-7405616596195493.13.azuredatabricks.net/
          DATABRICKS_TOKEN: dapi7627cb3513b08dea539b6347b38531f5
          REPO_PATH: /Users/vegash.p@diggibyte.com/.bundle/

