name: sample-dev

on:
  push:
    branches:
      - main

jobs:
# ==========================================================================
# JOB 1: VALIDATE DATABRICKS ASSET BUNDLE
# ==========================================================================
  validate:
    name: Validate Databricks Asset Bundle
    runs-on: ubuntu-latest
    continue-on-error: false

    env:
      DATABRICKS_HOST: https://dbc-3c33e389-a9f2.cloud.databricks.com/
      DATABRICKS_TOKEN: dapi73ec3cdf554cb9a35bad7e8376f36164
      REPO_PATH: /Users/kevinraj.arul@diggibyte.com/.bundle/

    steps:
      # Step 1: Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Setup Databricks CLI
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      # Step 3: Convert .py files to Databricks notebooks
      - name: Ensure .py files are Databricks notebooks
        shell: pwsh
        run: |
          Get-ChildItem -Path "${{ github.workspace }}" -Filter "*.py" -Recurse | ForEach-Object {
            if (-not (Get-Content $_.FullName -TotalCount 1 | Select-String "Databricks notebook source")) {
              ("# Databricks notebook source`n" + (Get-Content $_.FullName -Raw)) | Set-Content $_.FullName
            }
          }

      # Step 4: Validate Databricks Asset Bundle (CONFIG VALIDATION)
      - name: Validate bundle
        run: databricks bundle validate --target dev


# ==========================================================================
# JOB 2: DEPLOY DATABRICKS ASSET BUNDLE
# ==========================================================================
  deploy:
    name: Deploy Databricks Asset Bundle
    needs: validate
    if: needs.validate.result == 'success'
    runs-on: ubuntu-latest
    continue-on-error: false

    env:
      DATABRICKS_HOST: https://dbc-3c33e389-a9f2.cloud.databricks.com/
      DATABRICKS_TOKEN: dapi73ec3cdf554cb9a35bad7e8376f36164
      REPO_PATH: /Users/kevinraj.arul@diggibyte.com/.bundle/

    steps:
      # Step 1: Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Setup Databricks CLI
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      # Step 3: Convert .py files to Databricks notebooks
      - name: Ensure .py files are Databricks notebooks
        shell: pwsh
        run: |
          Get-ChildItem -Path "${{ github.workspace }}" -Filter "*.py" -Recurse | ForEach-Object {
            if (-not (Get-Content $_.FullName -TotalCount 1 | Select-String "Databricks notebook source")) {
              ("# Databricks notebook source`n" + (Get-Content $_.FullName -Raw)) | Set-Content $_.FullName
            }
          }

      # Step 4: Deploy Databricks Asset Bundle
      - name: Deploy bundle
        run: databricks bundle deploy --target dev
